body{
    background-image: url("backgrounds/wood.jpg");
}

.top{
    margin: 0;
    background-color: black;
    
}
.row{
    display:inline-block;
    
}
 
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    width: 50%;
  }

  .btn{
    background-color: green; 
    display: block;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  height: 50px;  
  width: 150px;
  font-size: 25px;
  margin-left: 30%;
  text-align:center;
} 

