*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: monospace ;
   box-sizing: border-box;
}

body
{
  min-height: 100vh;
  background: #DCE35B;  /* fallback for old browsers */
background: -webkit-radial-gradient(#F4e9e2, #cc0099);  /* Chrome 10-25, Safari 5.1-6 */
background: radial-gradient( #F4e9e2, #cc0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container
{
width: 35%;
height: 95%;
background: #f1f1f1;
padding: 80px 40px;
border-radius: 10px;
position: absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);

}

.sign h1{

  text-align: center;
  margin-bottom: 20px;
}


.txtbx{
border-bottom: 2px solid #adadad;
position: relative;
margin: 30px;
}

.txtbx input{
 font-size: 15px;
 color: #333;
 border:none;
 width: 100%;
 outline: none;
 background: none;
 padding: 0 5px;
 height: 40px;
}

.txtbx span::before{
content: attr(data-placeholder);
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform:translateY(-50%);
z-index: -1;
transition: .5s;
}

.txtbx span::after{
content: '';
position: absolute;
width: 0%;
 height: 2px; 
 background: #DCE35B; 
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
background: linear-gradient(to right, #45B649, #DCE35B);
transition: .5s;

} 

.column {
  float: left;
  width: 50%;
  padding: 5px;
  cursor: pointer;
  position: relative;
  background: #eee;
  font-size: 13px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.column:hover{

  background: #ddd;
}

.terms p{
  text-align: center;
}
.cancelbtn
{
  background-color: #cc0099; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:40%;

}
.signupbtn{
  background-color: #cc0099; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 40%;
}

.btns{
 margin:5px 5px 5px; 
}